<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            This tutorial has put together by Thomas Kelly <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/./">Index</a><br />
            <img src="{{ MEDIA_URL }}cat.jpg"
                alt="Picture of a Cat."/> <!-- New line -->
        </div>
    </body>
</html>